/*----глобальные стили----*/
    html, body {
      margin: 0;
      padding: 0;
    }

    html{
      scroll-behavior: smooth;
      font-size: 16px;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      background: #ffffff;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
      overflow-x: hidden;
    }

    ul,li {
      margin: 0px;
      padding: 0px;
      
    }

    h1,h2,h3,h4,p{
      margin: 0px;
      font-weight: normal;
    }

    .wrapper{
      font-family: 'Open Sans', sans-serif;
      background: #FFFFFF;
      min-height: 100%;
      display: grid !important;
      grid-template-rows: auto 1fr auto;
      position: relative;
      width: 100%;
    }

    .upper{
      text-transform: uppercase;
    }

/*----шрифты----*/

@font-face {
  font-family: "Montserrat-800";
  src: 
    url("Montserrat-ExtraBold.woff2") format("woff2"),
    url("Montserrat-ExtraBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-700";
  src: 
    url("Montserrat-Bold.woff2") format("woff2"),
    url("Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-600";
  src: 
  url("Montserrat-SemiBold.woff2") format("woff2"),
    url("Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-500";
  src: 
    url("Montserrat-Medium.woff2") format("woff2"),
    url("Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-400";
  src: 
   url("Montserrat-Regular.woff2") format("woff2"),
    url("Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat-300";
  src: 
    url("Montserrat-Light.woff2") format("woff2"),
    url("Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: "Lato-400";
  src: 
   url("Lato-Regular.woff2") format("woff2"),
    url("Lato-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}



@-webkit-keyframes color_change {
  0% { color: rgba(1, 64, 136, 1); },
  100% { color: rgba(135, 32, 249, 1); };
}

@-moz-keyframes color_change {
  0% { color: rgba(1, 64, 136, 1); },
  100% { color: rgba(135, 32, 249, 1); };
}
@-ms-keyframes color_change {
  0% { color: rgba(1, 64, 136, 1); },
  100% { color: rgba(135, 32, 249, 1); };
}
@-o-keyframes color_change {
  0% { color: rgba(1, 64, 136, 1); },
  100% { color: rgba(135, 32, 249, 1); };
}
@keyframes color_change {
  0% { color: rgba(1, 64, 136, 1); },
  100% { color: rgba(135, 32, 249, 1); };
}




@-webkit-keyframes color_changet {
  0% { opacity: 0; },
  100% { opacity: 1; };
}

@-moz-keyframes color_changet {
 0% { opacity: 0; },
  100% { opacity: 1; };
}

@-ms-keyframes color_changet {
  0% { opacity: 0; },
  100% { opacity: 1; };
}

@-o-keyframes color_changet {
  0% { opacity: 0; },
  100% { opacity: 1; };
}

@keyframes color_changet {
  0% { opacity: 0; },
  100% { opacity: 1; }; 
}


/*----------!!!------------ГЛАВНАЯ СТРАНИЦА----------!!!-----------------*/

/*----------------------СТИЛИ---------------------------*/

.main__container{
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.full__container{
  max-width: 8000px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1840px;
}



/*----------------------ШАПКА ---------------------------*/

.header_content{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background: #FFFFFF;
  max-width: 1840px;
}

.header_content_leftpart{
  display: flex;
  align-items: center;
  column-gap: 38px;
  z-index: 10;
}

.header_content_leftpart_navmenu_list{
  display: flex;
  align-items: center;
}

.header_content_leftpart_navmenu_list_item{
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  font-family: "Montserrat-600";
  font-size: 1rem;
  text-decoration: none;
  line-height: 30px;
  color: #014088;
}



.header_content_leftpart_navmenu_list_item:after {
  display: block; /*превращаем его в блочный элемент*/
  content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px; /*задаём высоту линии*/
  width: 0%; /*задаём начальную ширину элемента (линии)*/
  background-color: #53C2EF; /*цвет фона элемента*/
  transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.header_content_leftpart_navmenu_list_item:hover:after,
.header_content_leftpart_navmenu_list_item:focus:after {
  width: 100%;
}

.header_content_rightpart{
  display: flex;
  align-items: center;
  z-index: 10;
}

.header_content_rightpart_phone{
  font-family: "Montserrat-600";
  font-size: 1.25rem;
  text-decoration: none;
  line-height: 10px;
  color: #0B1219;
}

.header_content_rightpart_order{
  font-family: "Montserrat-600";
  font-size: 1rem;
  text-decoration: none;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(90deg, rgba(83,194,239,1) 0%, rgba(0,123,216,1) 100%);
  border-radius: 20px 0px 20px 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.header_content_rightpart_messengers{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.header_content_rightpart_messengers_item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.header_content_rightpart_messengers_item:nth-child(1){
  background: #0088CC;
}

.header_content_rightpart_messengers_item:nth-child(2){
  background: #014088;
}

.header_content_rightpart_messengers_item:nth-child(3){
  background: #25D366;
}





/*--------------------ГЛАВНАЯ СТРАНИЦА / ПЕРВЫЙ ЭКРАН---------------*/





.firstsec_mainpage_slider{
  width: 100vw;
}

.firstsec_mainpage_container{
  position: relative;
}

.firstsec_mainpage_slider_buttons{
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.firstsec_mainpage_slider_buttons_leftbtn{
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 11px;
  padding-right: 11px;
  outline: none;
  border: 0px;
  background: #ffffff;
  cursor: pointer;
}

.firstsec_mainpage_slider_buttons_rightbtn{
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 11px;
  padding-right: 11px;
  outline: none;
  border: 0px;
  background: #ffffff;
  cursor: pointer;
}

.firstsec_mainpage {
  overflow-x: hidden;
  position: relative;
}


/*--------------------ГЛАВНАЯ СТРАНИЦА / КАРТОЧКИ КАТАЛОГА---------------*/

.catalogsec_mainpage{
  z-index: 10;
}

.catalogsec_mainpage_container{
  max-width: 1415px;
  width: 100%;
  margin: 0 auto;
  margin-top: -84px;
}

.catalogsec_mainpage_cardslist{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.catalogsec_mainpage_cardslist_list_item{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 15px;
  background: #FFFFFF;
  height: 238px;
  justify-content: center;
  align-items: center;
  max-width: 185px;
  width: 100%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

.catalogsec_mainpage_cardslist_list_item h3{
  font-family: "Montserrat-600";
  font-size: 1rem;
  text-decoration: none;
  line-height: 19px;
  color: #4B5E71;
  margin-top: 15px;
  height: 47px;
  text-align: center;
}


/*--------------------ГЛАВНАЯ СТРАНИЦА / ПРЕИМУЩЕСТВА---------------*/



.advantagessec_mainpage{
  margin-top: 100px;
  background-image: url(../img/advantagessec_mainpage_background.png);
  background-position: right 27% bottom;
  background-repeat: no-repeat;
}

.advantagessec_mainpage_content{
  display: flex;
  flex-direction: column;
}

.advantagessec_mainpage_content h2{
  font-family: "Montserrat-700";
  font-size: 2.063rem;
  text-decoration: none;
  line-height: 31px;
  color: rgba(32, 47, 54, 1);
  padding-bottom: 28px;
}

.advantagessec_mainpage_content_line{
  background: rgba(83, 194, 239, 1);
  height: 5px;
  width: 100px;
  margin-bottom: 70px;
}

.advantagessec_mainpage_content_list{
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.advantagessec_mainpage_content_list_item{
  display: flex;
  justify-content: space-between;
  max-width: 595px;
  width: 100%;
  background: rgba(241, 247, 252, 1);
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 20px 0px 20px 0px;
  margin-bottom: 20px;
  column-gap: 28px;
  height: 91px;
  max-height: 91px;
}

.advantagessec_mainpage_content_list_item h3{
  font-family: "Montserrat-600";
  font-size: 1.125rem;
  line-height: 21px;
  color: rgba(1, 64, 136, 1);
}

.advantagessec_mainpage_content_list_item p{
  font-family: "Montserrat-400";
  font-size: 1rem;
  line-height: 20px;
  color: rgba(11, 18, 25, 1);
  margin-top: 19px;
}


/*--------------------ГЛАВНАЯ СТРАНИЦА /  О НАС---------------*/

.aboutussec_mainpage_content{
  display: flex;
  column-gap: 130px;
  background: rgba(241, 247, 252, 1);
  max-height: 655px;
}

.aboutussec_mainpage_content_rightpart{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.aboutussec_mainpage_content_rightpart h3{
  font-family: "Montserrat-600";
  font-size: 1.188rem;
  line-height: 25px;
  color: rgba(94, 178, 242, 1);
}

.aboutussec_mainpage_content_rightpart h2{
  font-family: "Montserrat-700";
  font-size: 2.063rem;
  line-height: 31px;
  color: rgba(1, 58, 101, 1);
  margin-top: 1px;
  margin-bottom: 32px;
}

.aboutussec_mainpage_content_rightpart p{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  line-height: 25px;
  color: rgba(11, 18, 25, 1);
  max-width: 570px;
  width: 100%;
  margin-bottom: 25px;
}

/*--------------------ГЛАВНАЯ СТРАНИЦА /  ОБРАТНАЯ СВЯЗЬ---------------*/


.formsec_mainpage{
  margin-top: 100px;
  background: linear-gradient(180deg, #F1F7FC 0%, #F1F7FC 80%, rgba(241, 247, 252, 0) 80%);
}

.formsec_mainpage_content{
  display: flex;
  flex-direction: column;
  padding-top: 95px;
  position: relative;
}

.formsec_mainpage_content h3{
  font-family: "Montserrat-700";
  font-size: 2.063rem;
  line-height: 31px;
  color: rgba(0, 0, 0, 1);
}

.formsec_mainpage_content p{
  font-family: "Montserrat-500";
  font-size: 1.25rem;
  line-height: 24px;
  color: rgba(34, 34, 34, 1);
  margin-top: 15px;
  margin-bottom: 40px;
}

.formsec_mainpage_content_form{
  display: flex;
  justify-content: space-between;
  column-gap: 14px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
  background: blue;
  border-radius: 20px;
  background: url(../img/form_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  
}



.formsec_mainpage_content_form input{
  font-family: "Montserrat-400";
  font-size: 0.938rem;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 370px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  height: 20px;
  z-index: 10;
}

.formsec_mainpage_content_form input:nth-child(1){
  border-radius: 20px 0px 0px 0px;
}

.formsec_mainpage_content_form button{
  font-family: "Montserrat-600";
  font-size: 1rem;
  line-height: 26px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  max-width: 374px;
  width: 100%;
  height: 26px;
  outline: none;
  border: 0px;
  background: linear-gradient(136.01deg, #013A65 0.85%, #000030 99.15%);
  border-radius: 0px 0px 20px 0px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  height: 60px;
  z-index: 10;
}

.formsec_mainpage_content_blur{
  background: rgba(83, 194, 239, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}



/*--------------------ГЛАВНАЯ СТРАНИЦА /  БЛОГ---------------*/


.blogsec_mainpage{
  margin-top: 95px;
  padding-top: 95px;
  background: linear-gradient(180deg, #F1F7FC 0%, #F1F7FC 64%, rgba(241, 247, 252, 0) 64%);
  margin-bottom: 95px;
}

.blogsec_mainpage_content h2{
  margin-bottom: 40px;
  font-family: "Montserrat-700";
  font-size: 2.063rem;
  line-height: 31px;
  color: rgba(1, 64, 136, 1);
}

.blogsec_mainpage_content_list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}

.blogsec_mainpage_content_list_item{
  height: 557px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px 0px 20px 0px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  max-width: 388px;
  width: 100%;
}

.blogsec_mainpage_content_list_item_downpart{
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 28px;
  padding-bottom: 25px;
}

.blogsec_mainpage_content_list_item_uppart img{
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.blogsec_mainpage_content_list_item_downpart_header{
  display: flex;
  column-gap: 9px;
  align-items: center;
  margin-bottom: 16px;
}

.blogsec_mainpage_content_list_item_downpart_header p{
  font-family: "Montserrat-400";
  font-size: 0.875rem;
  line-height: 22px;
  color: rgba(0, 123, 216, 1);
  text-decoration: none;
}

.blogsec_mainpage_content_list_item_container{
  text-decoration: none;
}

.blogsec_mainpage_content_loadmore{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;
  max-width: 282px;
  width: 100%;
  border-radius: 20px 0px 20px 0px;
  outline: none;
  border: 0px;
  background: linear-gradient(136.01deg, #53C2EF 0.85%, #007BD8 99.15%);
  font-family: "Montserrat-500";
  font-size: 1rem;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  column-gap: 10px;
  cursor: pointer;
}

.blogsec_mainpage_content_list_item_downpart b{
  font-family: "Montserrat-600";
  font-size: 1.125rem;
  line-height: 21px;
  color: rgba(11, 18, 25, 1);
  margin-bottom: 16px;
  display: flex;
}

.blogsec_mainpage_content_list_item > a:nth-child(1) > div:nth-child(2) > p:nth-child(3) {
  font-family: "Montserrat-500";
  font-size: 1rem;
  line-height: 20px;
  color: rgba(75, 94, 113, 1);
}



/*--------------------ГЛАВНАЯ СТРАНИЦА /  ФУТЕР---------------*/

footer{
  background: rgba(1, 64, 136, 1);
}

.footer_container_content_uppart_background{
  background: rgba(0, 0, 68, 1);
}

.footer_container_content_uppart{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.footer_container_content_downpart{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background: rgba(1, 64, 136, 1);
}

.footer_container_content_uppart p{
  font-family: "Montserrat-400";
  font-size: 1.125rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}

.footer_container_content_uppart a{
  font-family: "Montserrat-500";
  font-size: 0.938rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(83, 194, 239, 1);
  border-radius: 20px 0px 20px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container_content_downpart{
  padding-top: 82px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 72px;

}

.footer_container_content_downpart_item h3{
  font-family: "Montserrat-600";
  font-size: 1.375rem;
  line-height: 27px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 26px;
}

.footer_container_content_downpart_item{
  display: flex;
  flex-direction: column;

}

.footer_container_content_downpart_item:nth-child(2) > a{
  margin-bottom: 21px;
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footer_container_content_downpart_item:nth-child(3) > a{
  margin-bottom: 21px;
  font-family: "Montserrat-600";
  font-size: 1.25rem;
  line-height: 23px;
  color: rgba(83, 194, 239, 1);
  text-decoration: none;
}

.footer_container_content_downpart_item:nth-child(3) > p{
  font-family: "Montserrat-400";
  font-size: 1.25rem;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
}

.footer_container_content_downpart_item_messengers{
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.footer_container_content_downpart_item_messengers_item a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}


.footer_container_content_downpart_item_messengers_item:nth-child(1) a{
  background: #0088CC;
}

.footer_container_content_downpart_item_messengers_item:nth-child(2) a{
  background: rgba(0, 119, 255, 1);
}

.footer_container_content_downpart_item_messengers_item:nth-child(3) a{
  background: #25D366;
}


.footer_container_content_downpart_item:nth-child(2) > a:nth-child(7) {
  margin-bottom: 0px;
}

.footer_container_content_copyrights{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.footer_container_content_copyrights p{
  font-family: "Montserrat-400";
  font-size: 1rem;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 14px;
}

.back_btn{
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}













/*--------------------СТРАНИЦА КАТАЛОГ /  ШАПКА---------------*/

.headerandtitlesec{
  position: relative;
  background: rgba(241, 241, 244, 1);
}
.headerandtitlesec > header > .full_container > .header_content{
  background: rgba(241, 241, 244, 1);
}

.header_background {
  position: absolute;
  right: 0;
  top: -335px;
  width: 70%;
  opacity: 0.3;
}

.header_title{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 103px;
  padding-top: 60px;
  z-index: 10;
  position: relative;
}

.header_title h1{
  text-align: center;
   font-family: "Montserrat-600";
  font-size: 4rem;
  line-height: 64px;
  color: rgba(1, 64, 136, 1);

}

.header_title_list{
  display: flex;
  column-gap: 8px;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  margin-top: 16px;

}

.header_title_list > li > a{
  font-family: "Lato-400";
  font-size: 1rem;
  line-height: 26px;
  color: rgba(75, 94, 113, 1);
  text-decoration: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
}


.catalogsec_secondpage_content{
  padding-top: 50px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  column-gap: 30px;
}

.catalogsec_secondpage_content_sidebar{
  max-width: 279px;
  width: 100%;
}

.catalogsec_secondpage_content_sidebar_uppart{
  background: rgba(241, 247, 252, 1);
  border-radius: 20px 0px 20px 0px;
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 22px;
}

.catalogsec_secondpage_content_sidebar_uppart h3{
  font-family: "Montserrat-700";
  font-size: 1.5rem;
  line-height: 34px;
  color: rgba(32, 47, 54, 1);
  margin-bottom: 9px;
}

.catalogsec_secondpage_content_sidebar_uppart_line{
  background: rgba(83, 194, 239, 1);
  width: 50px;
  height: 3px;
  margin-bottom: 16px;
}

.catalogsec_secondpage_content_sidebar_uppart_list_item{
  font-family: "Montserrat-500";
  font-size: 1rem;
  line-height: 14px;
  color: rgba(1, 64, 136, 1);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  padding-bottom: 15px;
  padding-top: 15px;
}

.catalogsec_secondpage_content_sidebar_uppart_list_item img{
  display: none;
}

.catalogsec_secondpage_content_sidebar_uppart_list_item_active{
  color: rgb(135, 32, 249);
}

.catalogsec_secondpage_content_sidebar_uppart_list_item_active img{
  display: block;
}

.catalogsec_secondpage_content_sidebar_uppart_list_item:hover img{
  display: block;
  animation: color_changet 0.5s linear;
}

.catalogsec_secondpage_content_sidebar_uppart_list_item:hover {
  color: rgba(135, 32, 249, 1);
  animation: color_change 0.5s linear;
}

.catalogsec_secondpage_content_sidebar_downpart{
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  border: 1px solid rgba(237, 237, 237, 1);
  border-radius: 12px;
}

.catalogsec_secondpage_content_sidebar_downpart_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.catalogsec_secondpage_content_sidebar_downpart_header_rightpart button{
  display: flex;
  align-items: center;
  column-gap: 5px;
  background: transparent;
  color: rgba(83, 194, 239, 1);
  border: 0px;
  font-family: "Montserrat-600";
  font-size: 0.875rem;
  line-height: 17px;
  cursor: pointer;
}

.catalogsec_secondpage_content_sidebar_downpart_header h3{
  font-family: "Montserrat-700";
  font-size: 1.5rem;
  line-height: 29px;
  color: rgba(11, 18, 25, 1);
}



  .checkbox-wrapper-21{
    margin-bottom: 8px;
  }

  .checkbox-wrapper-21 .control {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    font-family: "Montserrat-400";
    font-size: 0.875rem;
    line-height: 22px;
    padding-top: 2px;
  }

  .checkbox-wrapper-21 .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    font-family: "Montserrat-400";
    font-size: 0.875rem;
    line-height: 20px;
  }

  .checkbox-wrapper-21 .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background: transparent;
    border: 1px solid rgba(228, 228, 228, 1);
  }
  .checkbox-wrapper-21 .control:hover input ~ .control__indicator,
  .checkbox-wrapper-21 .control input:focus ~ .control__indicator {
    background: rgba(1, 64, 136, 1);
  }
  .checkbox-wrapper-21 .control input:checked ~ .control__indicator {
    background: rgba(1, 64, 136, 1);
  }
  .checkbox-wrapper-21 .control:hover input:not([disabled]):checked ~ .control__indicator,
  .checkbox-wrapper-21 .control input:checked:focus ~ .control__indicator {
    background: #8720F9;
  }
  .checkbox-wrapper-21 .control input:disabled ~ .control__indicator {
    background: transparent;
    opacity: 0.6;
    pointer-events: none;
  }
  .checkbox-wrapper-21 .control__indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .checkbox-wrapper-21 .control input:checked ~ .control__indicator:after {
    display: block;
  }
  .checkbox-wrapper-21 .control--checkbox .control__indicator:after {
    left: 9px;
    top: 5px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .checkbox-wrapper-21 .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }


.catalogsec_secondpage_content_main_list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  margin-bottom: 105px;
}

.catalogsec_secondpage_content_main_list_item{
  display: flex;
  flex-direction: column;
  max-width: 275px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.catalogsec_secondpage_content_main_list_item h3{
  font-family: "Montserrat-600";
  font-size: 1.125rem;
  line-height: 22px;
  color: rgba(0, 0, 0, 1);
  margin-top: 10px;
  height: 90px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.catalogsec_secondpage_content_main_list_item p{
  font-family: "Montserrat-600";
  font-size: 1.125rem;
  line-height: 25px;
  color: rgba(1, 64, 136, 1);
  margin-top: 10px;
}

.catalogsec_secondpage_content_main_list_item a{
  font-family: "Montserrat-600";
  font-size: 0.938rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  margin-top: 10px;
  background: rgba(83, 194, 239, 1);
  border-radius: 6px;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 9px;
  max-width: 119px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogsec_secondpage_content_main_list_item img{
  max-width: 275px;
  width: 100%;
  height: 232px;
  object-fit: cover;
}


.formsec_secondpage{
  margin-bottom: 95px;
}



/*--------------------СТРАНИЦА О КОМПАНИИ---------------*/

.header_background_aboutcompanypage{
  top: 0;
  width: 100%;
  opacity: 0.7;
  overflow: hidden;
  height: 100%;
  object-fit: cover;
}


/*--------------------СТРАНИЦА ДОСТАВКА---------------*/

.deliverysec_deliverypage{
  background: linear-gradient(180deg, rgba(241, 247, 252, 0) 32%, #F1F7FC 32%, #F1F7FC 96%, rgba(241, 247, 252, 0) 96%);
}

.deliverysec_deliverypage_content{
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  margin-top: 140px;
  border-radius: 20px 0px 20px 0px;
}

.deliverysec_deliverypage_content h3{
  font-family: "Montserrat-600";
  font-size: 1.125rem;
  line-height: 21px;
  color: rgba(11, 18, 25, 1);
  margin-bottom: 25px;
}

.deliverysec_deliverypage_content_list{
  margin-bottom: 25px;
}

.deliverysec_deliverypage_content_list > li{
  font-family: "Montserrat-400";
  font-size: 1rem;
  line-height: 26px;
  color: rgba(11, 18, 25, 1);
}

.deliverysec_deliverypage_content_list:last-child {
  margin-bottom: 0;
}


.deliverysec_deliverypage_content_list {
  padding-left: 15px;
}
